@{
    this.ViewData["Title"] = "Контакти";
}

<!-- about Us -->
<div id="about_us" class="about_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="about_text wow slideInLeft">
                    <h2>Борислава Цекова - Астролог</h2>
                    <p>Град София, улица Триадица 5Б</p>
                    <p>Всички консултации и астрологични анализи се провеждат само след предварително уговорена среща!</p>
                    <p>За поръчка на личен хороскоп, годишен хороскоп, прогнози, избор на дата и въпроси по имейл, моля погледнете</p>

                    <h3>Свържете се с нас</h3>
                    <h2 class="about_contact"><i class="fa fa-phone-volume"></i> +359-884-456-789</h2>
                    <h2 class="about_contact"><i class="fa fa-envelope-square"></i> astro-Borislava@abv.bg</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about_images wow slideInRight">
                    <img src="~/images/silder/services3.jpg" width="100" alt="silder images" title="silder images">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about Us end-->
@*public string MapAddress { get; set; }*@