@using AstrologyBlog.Common
@model AstrologyBlog.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"{GlobalConstants.WelcomeName}!";
    this.ViewData["Name"] = $"{GlobalConstants.Categories}!";
}

<hr />
<h1 style="text-align:center;">@this.ViewData["Name"]</h1>
<hr />
<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col mb-4">
            <a href="@category.Url" class="btn-group">@category.Name</a>
        </div>
    }
</div>
