@{
    this.ViewData["Title"] = "Желание за нов живот";
}
<!-- about Us -->
<div id="about_us" class="about_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="about_text wow slideInLeft">
                    <h2>За Борислава</h2>
                    <p>След завършване на техническо образование, специализация и аспирантура в областта на приложна математика и механика открих астрологията през 1995 година. От 1999 год работя с клиенти.</p>
                    <p>Моите основни интереси са натална, прогностична, хорарна и бизнес астрология. Не мисля обаче, че астрологията може да се разглежда като механична система от отделни раздели в практическото и приложение. Тази огромна наука, която и до днес остава най- всеобхватната и богата от всички езотерични науки е динамична система от математически апарат и принципи, емпиричен опит, натрупан в течение на векове и непрекъснато разширяван и допълван в наше време, както и нови дисциплини, като например финансовата астрология или астро-психологията, свързваща наталната астрология със развитието на модерната психология. Поради това смятам, че във всяка консултация е необходимо да се използуват едновременно различни раздели на астрологията.</p>

                    <p>Нашите житейски ситуации не могат да бъдат отделени или разглеждани като отделни фрагменти. Поради това и не е възможно например само чрез хорарна астрология да дадем изчерпателен отговор без да използуваме класическите методи за прогноза, чиято основа е рожденната карта. Много често клиентите твърдят, че искат съвместимост (синастрия) за определена връзка, след което се оказва, че всъшност идеята е дали въобще ще има връзка или как тя ще продължи, което в повечето случаи не се определя от хармоничните или нехармоничните аспекти между двата хороскопа. Никога не съм възприемала идеята, че е възможно да се прави анализ само в отделен раздел на астрологията, без да се използуват комплексно възможностите на тази наука. Друг важен въпрос, който често се задава и в много случаи плаши хората е доколко нашата съдба е предопределена и в каква степен можем да проявим свободната си воля и да променяме събитията. Моят личен опит по-скоро ми показва, че част от събитията в нашия живот са наистина дефинирани още в момента на нашето раждане, а може би и преди това. Има ситуации, в които единственият ни възможен избор е да приемем случилото се и да продължим нататък. Или да не приемем и да затънем в огорчение и съпротива, понякога за дълги години. В по-големият брой ситуации на нашия живот обаче ние имаме възможност да променяме съдбата си чрез личните си действия и решения. В този смисъл хороскопът за мен е матрица, която залага възможни жизнени линии, по които можем да тръгнем и определим развитието си . Изборът на съответната линия зависи от много фактори, в много случаи и кармични и все пак точно тук е нашата възможност да проявим свободната си воля. В много отношения прогнозите в астрологията наподобяват прогнозите за очакваното време - има време да се сее, да чакаш посятото да порасне и по-късно да жънеш. Никой от тези етапи не може да мине без нашите лични действия. И най-добрата комбинация от планетарни влияния не може да ни донесе успех в работата, ако годините преди това са пропилени без да се натрупа ресурс под формата на образование или професионален опит. И най-добре направеният избор да се стартира бизнес не може да компенсира лошия мениджмънт на дадена инициатива. Обратното обаче - да стартираш в лош момент инициатива и да не можеш да постигнеш добър резултат е почти винаги вярно. Така че добрият избор на време за действие е като да засееш семето при правилния климат и по този начин да противодействуваш на възможните случайности. За мен астрологията е един от начините да намерим път в хаоса и несигурността, които стават все по очевидни. Инструмент, с който да противодействуваме на страха и да си осигурим малко повече вяра и светлина в процеса на непрекъснати промени. Убедена съм също, че за да можеш да вникнеш и видиш възможностите, заложени в хороскопа е необходима работа, с която да развиеш съзнанието си. От години се занимавам с различни методи, свързани със себеопознаване и духовно развитие, както и с различни медитативни техники.</p>

                    <h3>Свържете се с нас</h3>
                    <h2 class="about_contact"><i class="fa fa-volume-control-phone"></i> +91-123-456-7890</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about_images wow slideInRight">
                    <img src="~/images/silder/services1.jpg" width="100" alt="silder images" title="silder images">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about Us end-->
