@using AstrologyBlog.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.WelcomeName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/responsive.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/vendor/owl.carousel/assets/owl.carousel.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/vendor/wow/animate.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,900&display=swap" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header class="header-area">
        <div class="top-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                        <ul class="top-header-contact-info">
                            <li><i class="fa fa-envelope-o"></i> info@yourcompany.com</li>
                            <li><i class="fa fa-phone"></i> Emergancy Helpline: <a href="tel:+44587154756">+91 123 456-7890</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <ul class="top-header-social header_account">
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="navbar-area">
            <div class="astrology-nav">
                <div class="container">
                    <div class="row">
                        <div class="header_menu_wrapper">
                            <nav class="navbar navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse mean-menu" style="display: block;">
                                    <ul class="navbar-nav">
                                        <li class="nav-item"><a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">Желание за нов живот</a></li>

                                        <li class="nav-item"><a class="navbar-brand text-dark" asp-area="" asp-controller="Articles" asp-action="All">Статии</a></li>

                                        <li class="nav-item">
                                            <a class="navbar-brand text-dark" asp-area="" asp-controller="Articles" asp-action="All">Статии</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
                                                <li class="nav-item"><a href="full_services_page.html" class="nav-link">Services Full Page</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a class="navbar-brand text-dark" asp-area="" asp-controller="Articles" asp-action="Create">Създай статия</a>
                                        </li>

                                        <li class="nav-item"><a href="contact_us.html" class="navbar-brand text-dark">Контакти</a></li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    <footer id="footer" class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="row footer_matter">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="footer_logo_wrapper">
                            <h3 class="wow fadeInDown animated">phone: +359-884-456-780</h3>
                            <h3 class="wow fadeInDown animated">Email: astro-Borislava@abv.bg</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="top_button">
        <a class="back-to-top" style="cursor:pointer;" id="top-scrolltop"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- back-to-top scrtion End-->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/vendor/wow/wow.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script>
        new WOW().init();
        wow = new WOW(
            {
                boxClass: 'wow',      // default
                animateClass: 'animated', // default
                offset: 0,          // default
                mobile: true,       // default
                live: true        // default
            }
        )
        wow.init();
    </script>

    @await this.RenderSectionAsync("Scripts", required: false)

</body>
</html>
