@using AstrologyBlog.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.WelcomeName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/responsive.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/vendor/owl.carousel/assets/owl.carousel.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/vendor/wow/animate.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,900&display=swap" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header class="header-area">
        <div class="navbar-area">
            <div class="astrology-nav">
                <div class="container">
                    <div class="row">
                        <div class="header_menu_wrapper">
                            <nav class="navbar navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse mean-menu" style="display: block;">
                                    <ul class="navbar-nav">
                                        <li class="nav-item"><a class="navbar-brand text-break" asp-area="" asp-controller="Abouts" asp-action="Index">За Борислава</a></li>

                                        <li class="nav-item"><a class="navbar-brand text-break" asp-area="" asp-controller="Home" asp-action="Index">Желание за нов живот</a></li>

                                        <li class="nav-item"><a class="navbar-brand text-break" asp-area="" asp-controller="Articles" asp-action="All">Статии</a></li>

                                        <li class="nav-item"><a class="navbar-brand text-break" asp-area="" asp-controller="Events" asp-action="All">Събития</a></li>

                                        <li class="nav-item"><a class="navbar-brand text-break" asp-area="" asp-controller="Videos" asp-action="All">Видео</a></li>

                                        <li class="nav-item"><a class="navbar-brand text-break" asp-area="" asp-controller="Contacts" asp-action="Index">Контакти</a></li>

                                        <li class="nav-item"><a class="navbar-brand text-danger" asp-area="" asp-controller="Orders" asp-action="Create">Поръчай хороскоп/Заяви среща</a></li>

                                        @*<li class="nav-item">
                                            <a class="navbar-brand text-dark" asp-area="" asp-controller="Articles" asp-action="All">Статии</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
                                                <li class="nav-item"><a href="full_services_page.html" class="nav-link">Services Full Page</a></li>
                                            </ul>
                                        </li>*@
                                    </ul>
                                </div>
                            </nav>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <div class="navbar-area">
                <div class="astrology-nav">
                    <div class="container">
                        <div class="row">
                            <div class="header_menu_wrapper">
                                <nav class="navbar navbar-expand-md navbar-light">
                                    <div class="collapse navbar-collapse mean-menu" style="display: block;">
                                        <ul class="navbar-nav">

                                            <li class="nav-item">
                                                <a class="navbar-brand text-dark" asp-area="" asp-controller="Articles" asp-action="Create">Създай статия</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="navbar-brand text-dark" asp-area="" asp-controller="Events" asp-action="Create">Създай събитие</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="navbar-brand text-dark" asp-area="" asp-controller="Videos" asp-action="Create">Създай видео</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="navbar-brand text-dark" asp-area="Administration" asp-controller="ArticlesCategories" asp-action="Index">Редактирай категория за статия</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="navbar-brand text-dark" asp-area="" asp-controller="Orders" asp-action="All">Разгледай поръчките</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="top-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                        <ul class="top-header-contact-info">
                            <li><i class="fa fa-user-astronaut"></i>Борислава Цекова</li>
                            <li><i class="fa fa-meteor"></i>Астрологични консултации</li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <ul class="top-header-social header_account">
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!-- End Navbar Area -->
    </header>

    <section class="main_breadcrumb">
        <div class="container-fluid">
            <div class="row">
                <div class="breadcrumb-content">
                    <h2>@this.ViewData["Title"]</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="silder" class="silder_wrapper">
        <div id="home-silder" class="item">
            <div class="item">
                <img class="img-fluid w-100" src="~/images/silder/astrologers-work1.jpg" alt="silder images" title="silder images">
            </div>
        </div>
    </section>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    <!-- Footer Section -->
    <footer id="footer" class="footer">
        <div class="container-fluid">
            <div class="row">
                <!-- Newslatter-->
                <div class="footer_newslatter wow fadeInDown animated">
                    <div class="box">
                        <div class="row">
                            @if (!this.User.Identity.IsAuthenticated)
                            {
                                <button type="submit" class="btn btn-primary">
                                    <div class="nav-item">
                                        <a asp-area="Identity" asp-page="/Account/Login">Влез</a>
                                    </div>
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <div class="nav-item">
                                        <a asp-area="Identity" asp-page="/Account/Register">Регистрирай се</a>
                                    </div>
                                </button>
                            }
                            <button type="submit" class="btn btn-primary">
                                <a class="navbar-brand" asp-area="" asp-controller="Articles" asp-action="All">Разгледай нашия блог</a>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Newslatter end-->
                <div class="row footer_matter">
                </div>
            </div>
        </div>
    </footer>

    <div class="footer_copyright">
        <div class="container-fluid">
            <p class="wow fadeInUpBig animated">телефон: +359-884-456-780</p>
            <p class="wow fadeInDownBig animated">имейл: astro-Borislava@abv.bg</p>
        </div>
    </div>
    <section id="silder" class="silder_wrapper">
        <div id="home-silder" class="item">
            <div class="item">
                <img class="img-fluid w-100" src="~/images/silder/forecast-1.jpg" alt="silder images" title="silder images">
            </div>
        </div>
    </section>

    <div class="top_button">
        <a class="back-to-top" style="cursor:pointer;" id="top-scrolltop"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- back-to-top scrtion End-->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/vendor/wow/wow.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script>
        new WOW().init();
        wow = new WOW(
            {
                boxClass: 'wow',      // default
                animateClass: 'animated', // default
                offset: 0,          // default
                mobile: true,       // default
                live: true        // default
            }
        )
        wow.init();
    </script>

    @await this.RenderSectionAsync("Scripts", required: false)

</body>
</html>
